$color-yellow: #ebb50d;
$color-yellow-damped: #dc920f;
$color-yellow-bright: #f9eb4b;

$color-white: #fff;
$color-dark: #000;
$color-greyed-text: #83530c;

$font-size-normal: 1.6rem;
$font-size-medium: 2.4rem;
