$color-yellow: #ebb50d;
$color-yellow-damped: #dc920f;
$color-yellow-bright: #f9eb4b;

$color-white: #fff;
$color-dark: #000;
$color-greyed-text: #83530c;
$color-grey-dark: #282d40;
$color-grey-darker: #1f222e;

$font-size-normal: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 4rem;
