.about {
  background: url("../../../../public/images/bg_about.jpg") no-repeat center;

  .container {
    padding: 4rem 0;

    @include mobile {
      padding: 1rem;
    }
  }

  .articles {
    display: flex;
    gap: 4rem;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  .info {
    display: flex;
    gap: 2rem;
    margin-top: 6rem;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
