.banner {
  background: url("../../../../public/images/BG-01.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  // @include mobile {
  //   height: 70vh;
  // }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
